<header>
  ここにヘッダー
</header>
<div class="content-wrap">
  <div class="content">
    <div class="main-content">
      <div class="title">ここにタイトル</div>
      <div class="text">ここに本文</div>
    </div>
    <div class="image">
      ここにIMAGE
    </div>
  </div>
</div>